<!DOCTYPE html>
<html>
<head>
    <title>Anomaly Detection</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h2>Anomaly Detector</h2>
    <form action="/detect" method="post">
        <input type="text" id="data" name="blockchain" placeholder="Enter Blockchain address" required>
        <input type="number" id="data" name="num_transactions" placeholder="Number of Transactions" required>
        <input type="email" id="data" name="email" placeholder="Your Email">
        <button type="submit">Start Anomaly Detection</button>
    </form>
</body>
</html>
